DB_USERNAME=user
DB_PASSWORD=password
DB_URL=jdbc:mariadb://localhost:3306/malla_computacion

MARIADB_ROOT_PASSWORD=change_me_root
MARIADB_DATABASE=malla_computacion
MARIADB_USER=user
MARIADB_PASSWORD=password
